
.download-btn{
    background-color: var(--dark-orange) !important;
    color: white !important;
    border: solid 1px white !important;
    border-radius: 15px !important;
}
.download-btn:hover{
    background-color: white !important;
    color: var(--dark-orange) !important;
    border-color: var(--dark-orange) !important;
}