
/* VARS */

:root{
    --almost-white: rgb(243, 243, 243);
}


/* RULES */

.contact-wrapper{
    align-items: start;
}

.grey-bkgd{
    background-color: lightgrey;  /* fallback */
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid grey;
}
.grey-bkgd:first-child{
    background-image: linear-gradient(75deg, var(--deep-champagne), var(--almost-white));
}
.grey-bkgd:last-child{
    background-image: linear-gradient(340deg, var(--deep-champagne), var(--almost-white));
}

.contact-info{
    height: min-content;
}

.contact-info a{
    line-height: 2 !important;
}

.contact-info span{
    display: inline-block;
    white-space: nowrap;
}

.contact-info a span svg{
    padding-right: 2px;
}

.contact-info a span.link{
    text-decoration: 1px solid underline;
    font-weight: bolder;
}

#contact-form input, #contact-form textarea{
    outline-width: 2px;
    outline-color: var(--error-red) !important;
    outline-offset: 1px;
}

#contact-form input{
    width: 28vw;
    min-width: 250px;
}

#contact-form textarea{
    width: 35vw;
    min-width: 300px;
}

.btn-submit{
    border-radius: 15px !important;
    border: 1px solid white !important;
    color: white !important;
    background-color: rgb(29, 144, 19) !important;
}
.btn-submit:hover{
    border-color: rgb(29, 144, 19) !important;
    color: rgb(29, 144, 19) !important;
    background-color: white !important;
}


@media screen and (max-width: 575px){
    .contact-info a{
        font-size: 18px !important;
    }   
}