
/* VARS */

:root{
    --almost-white: rgb(243, 243, 243);
}


/* RULES */

.contact-wrapper{
    align-items: start;
}

.gradient-bkgd{
    background-color: lightgrey;  /* fallback */
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid grey;
}
.gradient-bkgd:first-child{
    background-image: linear-gradient(75deg, var(--deep-champagne), var(--almost-white));
}
.gradient-bkgd:last-child{
    background-image: linear-gradient(340deg, var(--deep-champagne), var(--almost-white));
}



.contact-info{
    height: min-content;
}

.contact-info a{
    line-height: 2 !important;
}

.contact-info span{
    display: inline-block;
    white-space: nowrap;
}

.contact-info a span svg{
    padding-right: 2px;
}

.contact-info a span.link{
    text-decoration: 1px solid underline;
    font-weight: bolder;
}


@media screen and (max-width: 575px){
    .contact-info a{
        font-size: 18px !important;
    }   
}