


#contact-form input, #contact-form textarea{
    outline-width: 2px;
    outline-color: var(--error-red) !important;
    outline-offset: 1px;
}

#contact-form input{
    width: calc(15vw + 200px);
    min-width: 250px;
}

#contact-form textarea{
    width: calc(25vw + 200px);
    min-width: 300px;
}

.btn-submit{
    border-radius: 15px !important;
    border: 1px solid white !important;
    color: white !important;
    background-color: var(--submit-green) !important;
}
.btn-submit:hover{
    border-color: var(--submit-green) !important;
    color: var(--submit-green) !important;
    background-color: white !important;
}

p.submitting{
    color: rgb(44, 44, 207);
}

p.submit-success{
    color: var(--submit-green);
}

p.submit-failure{
    color: var(--error-red);
}