
/* VARS */
:root{
    --dark-blue: rgb(113, 179, 195);
    --light-blue: rgb(171, 211, 226);
    --dark-orange: rgb(189, 80, 7);
    --deep-champagne: rgb(242, 208, 139);
    --error-red: rgb(185, 0, 0);
    --transition: .25s;
    --hover-opacity: .6;
}


/* UTILITY CLASSES */

.line-break{
    display: block;
    line-height: 1;
}

.hover-opacity{
    transition: var(--transition) !important;
}
.hover-opacity:hover{
    opacity: var(--hover-opacity);
}


/* RULES */

#root{
    font-family:  'Nunito', sans-serif;
    font-weight: 500;
    background-image: radial-gradient(circle, var(--light-blue), var(--dark-blue));
}

a{
    color: inherit !important;
    text-decoration: none !important;
}
a:not(.no-link-style):not(.btn){
    color: var(--dark-orange) !important; 
}

.err-msg{
    color: var(--error-red);
    font-style: italic;
    font-family: monospace;
}